.App {
  --padding-top: 30vh;
  --main-color: #93b7ea;
  --sec-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding-top) 10px 0;
  background: linear-gradient(90deg, rgb(100, 149, 217) 0%, #3661da 100%);
  text-align: center;
  color: var(--main-color);
  @supports (-webkit-touch-callout: none) {
    & {
      height: -webkit-fill-available;
    }
  }
  &-questions {
    display: flex;
    flex-direction: column;
  }
  &-progress {
    position: sticky;
    left: 0;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    padding: 39px 10px;
    z-index: 3;
    flex-basis: 0;
    background: linear-gradient(90deg, rgb(100, 149, 217) 0%, #3661da 100%);
    --progress-bar: 0;
    &_percentage {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
      color: #e0e0e0;
    }
    &_bar {
      margin: 12px auto 0;
      position: relative;
      width: 100%;
      max-width: 800px;
      height: 5px;
      background-color: #739fe0;
      border-radius: 5px;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform-origin: 0 50%;
        transform: scaleX(var(--progress-bar));
        transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
      }
    }
  }
  &-results {
    width: auto;
    margin: auto;
    padding-top: 30px;
    z-index: 2;
    &_btn {
      width: 100%;
      max-width: 350px;
      background-color: var(--sec-color);
      border: none;
      padding: 28px;
      margin-bottom: 5px;
      color: #4588e6;
      cursor: pointer;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
    }
    &_desc {
      color: var(--sec-color);
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.question {
  &-cont {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
    &:not(:first-child) {
      margin-top: 35px;
    }
  }
  &-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    max-width: 650px;
    margin: 0 auto;
  }
  &-option {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    white-space: pre-line;
    font-size: 46px;
    font-weight: 700;
    transition: color 0.4s ease-out, border-color 0.4s ease-out;
    cursor: pointer;
    .question-options:not(:last-child) & {
      margin-bottom: 30px;
    }
    &:not(.question-option--polar) {
      margin-left: 35px;
      margin-right: 35px;
    }
    &:hover,
    &:focus,
    &.is-active {
      color: var(--sec-color);
    }
    & > span {
      font-size: 17px;
      margin-top: 8px;
      max-width: 180px;
    }
    &--polar {
      padding: 15px 0 45px;
      margin-left: 20px;
      margin-right: 20px;
      border: 2px solid transparent;
      &:hover {
        border-color: var(--sec-color);
      }
    }
  }
  &-info {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 400px;
    color: var(--sec-color);
    font-size: 28px;
    font-weight: 600;
    white-space: break-spaces;
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
  &-result {
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
    transition: color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;
    &:hover {
      color: #c2caee;
    }
    &:not(:first-child) {
      margin-top: 3px;
    }
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    & > span {
      text-decoration: underline;
    }
  }
  &-input {
    min-width: 150px;
    padding-left: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--sec-color);
    color: var(--sec-color);
    font-size: inherit;
    font-weight: inherit;
    &--name {
      width: 35%;
      padding-right: 15px;
      background-image: radial-gradient(var(--sec-color) 20%, transparent 25%);
      background-size: 21px 21px;
      background-position: bottom right;
      background-repeat: no-repeat;
    }
    &--breeds {
      width: 100%;
      padding-right: 30px;
    }
    &_cont {
      width: 60%;
      position: relative;
      text-align: left;
      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: 6px;
        top: 12px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="rgb(230, 230, 230)" d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>');
        transform-origin: 50%;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      }
      &.is-open:before {
        transform: rotate(180deg);
      }
    }
    &_suggestions {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      padding-left: 5px;
      color: var(--main-color);
      & > span {
        font-size: inherit;
        font-weight: bold;
        transition: color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
        cursor: pointer;
        &:hover {
          color: var(--sec-color);
        }
      }
    }
  }
  &-tooltip {
    position: absolute;
    bottom: -45px;
    font-size: 16px;
    color: var(--main-color);
    & > span {
      font-weight: bold;
      color: var(--sec-color);
    }
  }
}

.dribbble-link {
  position: fixed;
  right: 8px;
  bottom: 8px;
  width: 30px;
  z-index: 10;
}
