*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

ol,
ul {
  padding-left: 0;
  list-style-type: none;
}

ol,
ul,
p,
menu,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

figure,
blockquote {
  margin: 0;
}

fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
